<article class="cl pd-20">
	<form class="form form-horizontal" id="form-admin-role-add">
		<input id="role_id" type="hidden"  value="#(systemRole.id??)"/>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="#(systemRole.role_name??)" placeholder="" id="roleName" name="roleName" datatype="*4-16" nullmsg="用户账户不能为空">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="#(systemRole.remark??)"  id="remark">
			</div>
		</div>
	</form>
</article>

<script>
   $(function(){
      //表单校验
	 $("#form-admin-role-add").validate({
		rules:{
			roleName:{
				required:true,
			},
		},
		messages :{
		    roleName:{
				required:"请输入角色名称",
			},
		}
	 });
   });
</script>
