     <input type="hidden" name="currentPage" id="currentPage" value=""/>
	 <table class="table table-border table-bordered table-hover table-bg">
			<thead>
				<tr>
					<th scope="col" colspan="6">角色管理</th>
				</tr>
				<tr class="text-c">
					<th width="25"><input type="checkbox" value="" name=""></th>
					<th width="40">ID</th>
					<th width="100">角色名</th>
					<th width="200">用户列表</th>
					<th width="200">描述</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c">
					<td><input type="checkbox" value="" name=""></td>
					<td>1</td>
					<td>超级管理员</td>
					<td><a href="#">admin</a></td>
					<td>拥有至高无上的权利</td>
					<td class="td-manage">
						#if(!session.isSuperFlag())
    						<a style="text-decoration:none"  href="javascript:;" title="设置权限">
    							<i class="Hui-iconfont" onClick="operRole()">&#xe61d;</i>
    						</a> 
						#end
						<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','admin-add.html','2','800','500')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6df;</i>
						</a>
						<a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
			</tbody>
	</table>
		
	<div id="demo2">
		<div class="layui-box layui-laypage layui-laypage-molv" id="layui-laypage-3">
			#if(page.getList().size() > 0)
				#@paginate(page.pageNumber,page.totalPage,"paginate-link")
			#end
		</div>
	</div>