<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico" >
<link rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="#(BASE_PATH)/resource/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="#(BASE_PATH)/resource/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="#(BASE_PATH)/resource/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="#(BASE_PATH)/resource/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="#(BASE_PATH)/resource/static/h-ui.admin/css/style.css" />

<link rel="stylesheet" href="#(BASE_PATH)/resource/js/layui-v1.0.5/layui/css/layui.css"> 

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="#(BASE_PATH)/resource/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="#(BASE_PATH)/resource/static/h-ui/js/H-ui.js"></script> 
<!--/_footer /作为公共模版分离出去--> 

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="#(BASE_PATH)/resource/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="#(BASE_PATH)/resource/lib/layer/2.4/layer.js"></script> 
<script type="text/javascript" src="#(BASE_PATH)/resource/js/layui-v1.0.5/layui/layui.js"></script>
<script type="text/javascript" src="#(BASE_PATH)/resource/js/global.js"></script> 
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>管理员列表 - 管理员列表 - H-ui.admin v3.0</title>
</head>
<body>
<!--_header 作为公共模版分离出去-->
#include("/WEB-INF/views/common/header.vm")
<!--/_menu 作为公共模版分离出去-->
#@left_menu("system","admin")
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		管理员管理
		<span class="c-gray en">&gt;</span>
		管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c"> 日期范围：
				<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
				-
				<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
				<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="">
				<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
			</div>
			<div id="admin_list">
        			
            </div>
			<div id="page_admin_list" style="position:relative;left:500px"></div>
		</article>
	</div>
</section>


<script type="text/javascript">
     $(function(){
         list(true);
     });
	 
	 //管理员列表
	 function list(flag){
	    if(flag){
		   $("#admin_list #currentPage").val(1);
		}
	 
		var totalPage;
		$.ajax({
    	     url:"#(BASE_PATH)/system/admin/list",
    		 data:{
    		 
    		 },
    		 type:"post",
    		 dataType:"html",
    		 success:function(data){
    		     $("#admin_list").html("");
    			 $("#admin_list").html(data);
				 totalPage = $("#admin_list #totalPage").val();
		         page("page_admin_list",totalPage,5,"#(BASE_PATH)/system/admin/list","admin_list");
    		 }
    	 });
	 }
	 
	 //批量删除
	 function batchDelete(){
	     var ids = "";
	     $("#admin_list input[type='checkbox']").each(function(){
		     if(this.checked){
			    ids += $(this).attr("value") + ",";
			 }
    		 $.ajax({
    		    url:"#(BASE_PATH)/system/admin/batchDelete",
        		 data:{
        		    "ids":ids
        		 },
        		 type:"post",
        		 dataType:"html",
        		 success:function(data){
    			     if(data.code ==1){
    				    layer.alert(data.message, {
    		                 icon: 1,
    						 closeBtn: 0,
    						 time: 1000,
    		                 skin: 'layer-ext-moon',
    					});
    				 }else{
    				    layer.alert(data.message, {
    		                 icon: 2,
    						 time: 2000,
    		                 skin: 'layer-ext-moon',
    					});
    				 }
    				 list(false);
        		 }
    		 });
		 });
	 }
	 
	 //删除
	 function delOne(id){
	    
	 
	 }
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>