    <input  type="hidden" name="currentPage" id="currentPage"/>
	
	<input  type="hidden" id="totalPage" value="#(page.totalPage??)"/>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l"> <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="admin_add('添加管理员','admin-add.html','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a> </span>
		<span class="r">共有数据：<strong>#(count??)</strong> 条</span>
    </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
				<tr>
					<th scope="col" colspan="9">员工列表</th>
				</tr>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="40">ID</th>
					<th width="150">登录名</th>
					<th width="90">手机</th>
					<th width="150">邮箱</th>
					<th>角色</th>
					<th width="130">加入时间</th>
					<th width="100">是否禁用</th>
					<th width="100">操作</th>
				</tr>
		</thead>
		<tbody id="content">
			#for(e : page.getList())
			<tr class="text-c">
				<td><input type="checkbox" value="" name=""></td>
				<td>#(e.id)</td>
				<td>#(e.login_name)</td>
				<td>#(e.mobile)</td>
				<td>#(e.mail)</td>
				<td>#(e.getSystemRole().role_name??)</td>
				<td>#date(e.create_at,"yyyy-MM-dd hh:mm")</td>
				<td class="td-status"><span class="label label-success radius">已启用</span></td>
				<td class="td-manage"><a style="text-decoration:none" onClick="admin_stop(this,'10001')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> <a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','admin-add.html','1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			#end
		</tbody>
	</table>
    <div class="panel-head" id="bottom">
         <div id="demo" style="margin-left:500px;float:rigth;width:400px;"></div>
    </div>
