
#define paginate(currentPage,totalPage,paginateName)
    #if ((totalPage <= 0) || (currentPage > totalPage)) #end
    #setLocal(startPage = currentPage - 4)
    #if (startPage < 1) 
		#setLocal(startPage = 1) 
	#end
    #setLocal(endPage = currentPage + 4)
    #if (endPage > totalPage) 
		#setLocal(endPage = totalPage) 
	#end
            共#(totalPage)页　第　
    #if(currentPage <= 8)
         #setLocal(startPage = 1)
    #end
    #if((totalPage - currentPage) < 8)
        #setLocal(endPage = totalPage)
    #end
    #if(currentPage == 1)
		<a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="#(prePage)">上一页</a>
    #else
        #setLocal(prePage = currentPage - 1)
		
    #end
    #if(currentPage > 8)
            <a href="javascript:;" data-page="1" name="#(paginateName)">1</a>
            <a href="javascript:;" data-page="2" name="#(paginateName)">2</a>
            <a href="javascript:;" data-page="#">…</a>
    #end
    #if(endPage >= startPage)
        #for(i = startPage;i <= endPage;i++)
            #if(currentPage == i)
                <a href="javascript:;" data-page="#" class="layui-laypage-em" style="background-color:#1E9FFF;">#(i)
				</a>
            #else
                <a href="javascript:;" data-page="#(i)" name="#(paginateName)">#(i)</a>
            #end
        #end
    #end
    #if ((totalPage - currentPage) >= 8)
            <a href="javascript:;" page="#">…</a>
        #setLocal(prePage = totalPage - 1)
            <a href="javascript:;" data-page="#(prePage)" name="#(paginateName)">#(prePage)</a>
            <a href="javascript:;" data-page="#(totalPage)" name="#(paginateName)">#(totalPage)</a>
	#end
	<a href="javascript:;" class="layui-laypage-next" data-page="2">下一页</a>
    #if (currentPage == totalPage || totalPage <= 0)
    #else
        #setLocal(nextPage = currentPage + 1)
           
    #end
    　页
#end