<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎登录微商城后台管理系统</title>
    <link href="$BASE_PATH/resource/css/login.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="$BASE_PATH/resource/js/jquery.js"></script>
    <script src="$BASE_PATH/resource/js/cloud.js" type="text/javascript"></script>
    <script language="javascript">
        //去除登录黄色背景
        $(function() {
            if (navigator.userAgent.toLowerCase().indexOf("chrome") >= 0) {
                $(window).load(function() {
                    $('ul input:not(input[type=submit])').each(function() {
                        var outHtml = this.outerHTML;
                        $(this).append(outHtml);
                    });
                });
            }
			$(".loginbtn").mouseover(function(){
			    $(this).css("background","#85B7EB");
			});
			$(".loginbtn").mouseout(function(){
			    $(this).css("background","#267FB4");
			});
        });
		
        $(function() {
            $('.loginbox').css({
                'position': 'absolute',
                'left': ($(window).width() - 692) / 2
            });
            $(window).resize(function() {
                $('.loginbox').css({
                    'position': 'absolute',
                    'left': ($(window).width() - 692) / 2
                });
            });
        });

        function login() {
           
        }
    </script>

</head>

<body style="background-color:#1c77ac; background-image:url($BASE_PATH/resource/images/login/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
    <div id="mainBody">
        <div id="cloud1" class="cloud"></div>
        <div id="cloud2" class="cloud"></div>
    </div>


    <div class="logintop">
        <span>欢迎登录微商城后台管理系统</span> 
        <ul>
            <li><a href="$BASE_PATH/help">帮助</a>
            </li>
            <li><a href="$BASE_PATH/about">关于我们</a>
            </li>
        </ul>
    </div>
    <form id="loginForm" action="$BASE_PATH/login" method="post">
        <div class="loginbody">

            <span class="systemlogo"></span> 

            <div class="loginbox">

                <ul>
                    <li class="loginuserblock">
                        <input name="username" type="text" class="loginuser" value="账号" onclick="JavaScript:this.value=''" />
                    </li>
                    <li class="loginpwdblock">
                        <input name="password" type="password" class="loginpwd" value="" onfocus="JavaScript:$('#note-pass').hide();" />
                        <div id="note-pass">密码</div>
                    </li>
                    <li>
                        <input type="submit" class="loginbtn" value="登录" />
                        <label>
                            <input name="" type="checkbox" value="" checked="checked" />记住密码</label>
                        <label><a href="#">忘记密码？</a>
                        </label>
                    </li>
                </ul>


            </div>

        </div>
    </form>


    <div class="loginbm">版权所有     涛哥JAVA开发工作室</div>


</body>

</html>
