<link rel="stylesheet" type="text/css" href="#(BASE_PATH)/resource/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="#(BASE_PATH)/resource/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="#(BASE_PATH)/resource/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="#(BASE_PATH)/resource/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="#(BASE_PATH)/resource/static/h-ui.admin/css/style.css" />
<link rel="stylesheet" href="#(BASE_PATH)/resource/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">